asgiref==3.8.1
cfgv==3.4.0
crispy-bootstrap5==2023.10
distlib==0.3.9
Django==5.1.6
django-crispy-forms==2.1
django-redis==5.4.0
filelock==3.17.0
gunicorn==22.0.0
identify==2.6.8
nodeenv==1.9.1
packaging==24.2
pillow==10.3.0
platformdirs==4.3.6
pre_commit==4.1.0
psycopg2-binary==2.9.9
python-dotenv==1.0.0
PyYAML==6.0.2
redis==5.0.1
sqlparse==0.5.3
typing_extensions==4.12.2
virtualenv==20.29.2
